.title { font-family: 'IM Fell Great Primer SC', serif; text-align:center!important; margin-top:15rem!important;font-size: 500%;}

.class2 { font-family: 'IM Fell Great Primer SC', serif; text-align:center!important; margin-bottom:3rem!important; font-size: 500%;}
